<% provide :title, 'Help' %>
<div class="container font-weight-light my-5">  
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      Help<br />
      <div class="mt-1 small">
        <%= link_to 'How to download', '#how-to-download' %><br />
        <%= link_to 'Using an other broker', '#using-an-other-broker' %><br />
        <%= link_to 'What\'s the class', '#whats-the-class' %><br />
        <%= link_to 'An error occurred', '#an-error-occurred' %><br />
      </div>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h2>Help</h2>
      Do you necessary more help? You may be able to find solution.

      <a name="how-to-download">
        <h3 class="mt-5">How to download</h3>
      </a>
      <p class="text-justify">
        First, access to <%= link_to 'SBI SECURITIES Co.,Ltd.', 'https://site0.sbisec.co.jp/', target: :blank %>, input your name and password in each textboxes, click login button in Login page.
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/1.png', class: 'img-fluid img-thumbnail' %>
      </div>
      <p class="text-justify">
        Second, points on "口座管理" in top menu and click "トータルリターン".
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/2.png', class: 'img-fluid img-thumbnail' %>
      </div>
      <p class="text-justify">
        Third, click link of "保有中", "特定/一般" or "NISA/つみたてNISA".
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/3.png', class: 'img-fluid img-thumbnail' %>
      </div>
      <p class="text-justify">
        Last, click link of "CSVダウンロード", so has been downloaded CSV file.
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/4.png', class: 'img-fluid img-thumbnail' %>
      </div>

      <a name="using-an-other-broker">
        <h3 class="mt-5">Using an other broker</h3>
      </a>
      <p class="text-justify">
        If you using an other broker different from SBI SECURITIES Co.,Ltd., the following steps will help.
      </p>
      <p class="text-justify">
        Create a new CSV file, copy and past following text as header words.
        Input information of your investments after the second line.
        The file will be able to import in Organize.
        <div class="code rounded small">
          ファンド名,口座種別,評価金額,買付金額
        </div>
      </p>

      <a name="whats-the-class">
        <h3 class="mt-5">What's the class</h3>
      </a>
      <p class="text-justify">
        The class is category of investment trust, 9 types of combination of 3 areas and 3 commodities, and 1 type.
        <table class="table small">
          <thead class="thead-light">
            <tr>
              <th width="10%" class="text-center">Class</th>
              <th width="10%" class="text-center">Area</th>
              <th width="10%" class="text-center">Commodity</th>
              <th width="7  0%" class="text-center">Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>国株</td>
              <td>国内</td>
              <td>株式</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイＴＯＰＩＸインデックスファンド</td>
            </tr>
            <tr>
              <td>国債</td>
              <td>国内</td>
              <td>債権</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ国内債券インデックスファンド</td>
            </tr>
            <tr>
              <td>国不</td>
              <td>国内</td>
              <td>不動産</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイＪリートインデックスファンド</td>
            </tr>
            <tr>
              <td>先株</td>
              <td>先進国</td>
              <td>株式</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ外国株式インデックスファンド</td>
            </tr>
            <tr>
              <td>先債</td>
              <td>先進国</td>
              <td>債権</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ外国債券インデックスファンド</td>
            </tr>
            <tr>
              <td>先不</td>
              <td>先進国</td>
              <td>不動産</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイグローバルリートインデックスファンド</td>
            </tr>
            <tr>
              <td>新株</td>
              <td>新興国</td>
              <td>株式</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ新興国株式インデックスファンド</td>
            </tr>
            <tr>
              <td>新債</td>
              <td>新興国</td>
              <td>債権</td>
              <td>-</td>
            </tr>
            <tr>
              <td>新不</td>
              <td>新興国</td>
              <td>不動産</td>
              <td>-</td>
            </tr>
            <tr>
              <td>他</td>
              <td>-</td>
              <td>-</td>
              <td>レオス−ひふみプラス</td>
            </tr>
          </tbody>
        </table>
      </p>

      <a name="an-error-occurred">
        <h3 class="mt-5">An error occurred</h3>
      </a>
      <p class="text-justify">
        <%= link_to 'Please let me know', 'http://autovice.herokuapp.com/', target: :blank %>, thank you.
      </p>
    </div>
  </div>
</div>