<% provide :title, 'ヘルプ' %>
<div class="container font-weight-light py-5">  
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      Help<br />
      <div class="mt-1 small">
        <%= link_to 'SBI証券のCSVファイルをダウンロードする', '#how-to-download' %><br />
        <%= link_to 'SBI証券以外の投資信託を管理したい', '#using-an-other-broker' %><br />
        <%= link_to '投資信託の"クラス"とは？', '#whats-the-class' %><br />
        <%= link_to 'エラーが発生した場合', '#an-error-occurred' %><br />
      </div>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h2 class="font-weight-light">ヘルプ</h2>

      <a name="how-to-download">
        <h3 class="mt-5 font-weight-light">SBI証券のCSVファイルをダウンロードする</h3>
      </a>
      <p class="text-justify">
        <%= link_to 'SBI証券', 'https://site0.sbisec.co.jp/', target: :blank %>にアクセスし、ログインします。
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/1.png', class: 'img-fluid img-thumbnail' %>
      </div>
      <p class="text-justify">
        ページ上部の"口座管理"をポイントし、"トータルリターン"をクリックします。
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/2.png', class: 'img-fluid img-thumbnail' %>
      </div>
      <p class="text-justify">
        "保有中"、"特定/一般"、または"NISA/つみたてNISA"をクリックします。
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/3.png', class: 'img-fluid img-thumbnail' %>
      </div>
      <p class="text-justify">
        "CSVダウンロード"をクリックしてCSVファイルをダウンロードします。
      </p>
      <div class="px-3 mb-5">
        <%= image_tag 'help/4.png', class: 'img-fluid img-thumbnail' %>
      </div>

      <a name="using-an-other-broker">
        <h3 class="mt-5 font-weight-light">SBI証券以外で保有する投資信託を管理したい</h3>
      </a>
      <p class="text-justify">
        もしあなたがSBI証券以外で投資信託を保有している場合、下記の手順が役立ちます。
      </p>
      <p class="text-justify">
        新しいCSVファイルを作成し、下記のテキストをコピー＆ペーストします。
        続いて、2行目以降にあなたの投資信託の情報を記述します。
        そのCSVファイルは投資信託管理画面でインポートできるでしょう。
        <div class="rounded small bg-light p-3 m-3">
          ファンド名,口座種別,評価金額,買付金額
        </div>
      </p>

      <a name="whats-the-class">
        <h3 class="mt-5 font-weight-light">投資信託の"クラス"とは？</h3>
      </a>
      <p class="text-justify">
        投資信託の"クラス"は、3つのエリアと3つの商品を組み合わせた9つのカテゴリーにその他を加えた合計10つあります。
        これらに分散投資することで、投資のリスクを低減することができるとされています。
        <table class="table small">
          <thead class="thead-light">
            <tr>
              <th width="10%" class="text-center">クラス</th>
              <th width="10%" class="text-center">エリア</th>
              <th width="10%" class="text-center">商品</th>
              <th width="7  0%" class="text-center">投資信託の例</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>国株</td>
              <td>国内</td>
              <td>株式</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイＴＯＰＩＸインデックスファンド</td>
            </tr>
            <tr>
              <td>国債</td>
              <td>国内</td>
              <td>債権</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ国内債券インデックスファンド</td>
            </tr>
            <tr>
              <td>国不</td>
              <td>国内</td>
              <td>不動産</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイＪリートインデックスファンド</td>
            </tr>
            <tr>
              <td>先株</td>
              <td>先進国</td>
              <td>株式</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ外国株式インデックスファンド</td>
            </tr>
            <tr>
              <td>先債</td>
              <td>先進国</td>
              <td>債権</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ外国債券インデックスファンド</td>
            </tr>
            <tr>
              <td>先不</td>
              <td>先進国</td>
              <td>不動産</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイグローバルリートインデックスファンド</td>
            </tr>
            <tr>
              <td>新株</td>
              <td>新興国</td>
              <td>株式</td>
              <td>ニッセイ−＜購入・換金手数料なし＞ニッセイ新興国株式インデックスファンド</td>
            </tr>
            <tr>
              <td>新債</td>
              <td>新興国</td>
              <td>債権</td>
              <td>-</td>
            </tr>
            <tr>
              <td>新不</td>
              <td>新興国</td>
              <td>不動産</td>
              <td>-</td>
            </tr>
            <tr>
              <td>他</td>
              <td>-</td>
              <td>-</td>
              <td>レオス−ひふみプラス</td>
            </tr>
          </tbody>
        </table>
      </p>

      <a name="an-error-occurred">
        <h3 class="mt-5 font-weight-light">エラーが発生した場合</h3>
      </a>
      <p class="text-justify">
        お手数ですが、<%= link_to 'こちら', 'https://www.autovice.jp/', target: :blank %>からご連絡ください。
      </p>
    </div>
  </div>
</div>