<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="my-3">インポート</h4>
      <%= form_with url: import_user_funds_path, multipart: true do |form| %>
        <div class="input-group">
          <%= text_field_tag 'file_name', '', class: 'form-control border-info',
                                              onclick: '$("#file").click();',
                                              :placeholder => 'ここをクリックしてファイルを選択してください' %>
          <%= file_field_tag :file, style: 'display: none', onchange: 'file_selected($(this));' %>
          <div class="input-group-append">
            <%= submit_tag 'インポート', id: 'submit', class: 'btn btn-info' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12">
      <h4 class="my-3">資産一覧</h4>
      <table class="table table-sm table-bordered small">
        <thead>
          <tr class="bg-info text-white">
            <th width="10%" class="text-center">口座種別</th>
            <th width="45%" class="text-center">銘柄名</th>
            <th width="8%" class="text-center">買付金額</th>
            <th width="8%" class="text-center">評価金額</th>
            <th width="8%" class="text-center">評価損益</th>
            <th width="6%" class="text-center">資産種別</th>
            <th width="15%" class="text-center">増資金額</th>
          </tr>
        </thead>
        <tbody>
          <% @funds.each do |fund| %>
            <tr>
              <td class="align-middle"><%= fund.account %></td>
              <td class="align-middle"><%= fund.name %></td>
              <td class="align-middle text-right"><%= fund.purchase.to_s(:delimited) %></td>
              <td class="align-middle text-right"><%= fund.valuation.to_s(:delimited) %></td>
              <td class="align-middle text-right<%= ' text-danger' if sub(fund.valuation, fund.purchase) < 0 %>">
                <%= sub(fund.valuation, fund.purchase).to_s(:delimited) %>
              </td>
              <td>
                <%= select_tag 'categories', options_for_select(@assets.keys, { :selected => fund.category }),
                                             include_blank: true,
                                             class: 'custom-select custom-select-sm',
                                             data: { category_id: fund.id },
                                             :onchange => 'set_category($(this));' %>
              </td>
              <td>
                <input type="number" class="form-control form-control-sm text-right">
              </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td class="text-right"><%= @sum_purchase.to_s(:delimited) %></td>
            <td class="text-right"><%= @sum_valuation.to_s(:delimited) %></td>
            <td class="text-right<%= ' text-danger' if sub(@sum_valuation, @sum_purchase) < 0 %>"><%= sub(@sum_valuation, @sum_purchase).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-8">
      <h4 class="my-3">資産比率</h4>
      <table class="table table-sm table-bordered small">
        <thead>
          <tr class="bg-info text-white">
            <th width="5%" class="text-center">種別</th>
            <th width="19%" class="text-center">買付金額</th>
            <th width="19%" class="text-center">評価金額</th>
            <th width="19%" class="text-center">実際比率</th>
            <th width="19%" class="text-center">目標比率</th>
            <th width="19%" class="text-center">比率差分</th>
          </tr>
        </thead>
        <tbody>
          <% @assets.keys.each do |category| %>
            <tr>
              <td class="align-middle"><%= category %></td>
              <td class="align-middle text-right"><%= @assets[category][:買付金額].to_s(:delimited) %></td>
              <td class="align-middle text-right"><%= @assets[category][:評価金額].to_s(:delimited) %></td>
              <td class="align-middle text-right">
                <%= @assets[category][:評価金額] > 0 ? (@assets[category][:評価金額].to_f / @sum_valuation.to_f * 100.0).to_s(:percentage) : 0.to_s(:percentage) %>
              </td>
              <td class="align-middle text-right">
                <input type="number" min="0" max="100" value="0" class="form-control form-control-sm text-right">
              </td>
              <% diff = 0 - (@assets[category][:評価金額].to_f / @sum_valuation.to_f) %>
              <td class="align-middle text-right<%= ' text-danger' if diff < 0.0 %>">
                <%= (diff * 100).to_s(:percentage) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

<script>
  $('#submit').on('click', function() {
    if ($('#file_name').val() == '') {
      alert('ファイルを選択してください');
      $('#file_name').focus();
    }
  });
  function file_selected(file_field) {
    var file_name = $(file_field)[0].files[0].name;
    $('#file_name').val(file_name);
  }
  function set_category(selected) {
    $.ajax({
      type: 'GET',
      url: '/funds/set_category',
      data: {
        id: selected.data('category-id'),
        category: selected[0].selectedOptions[0].value
      },
      dataType: 'json'
    })
    .done(function(data, stat, xhr) {
    })
    .fail(function(xhr, stat, err) {
      alert(err);
    });
  }
</script>